.Container_Card_Animais{
    display: flex;
    max-width: 100%;
    height: 300px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    overflow: auto;
    flex-direction: row;
    flex-wrap: nowrap;
}
.Card_Animal{
    display: flex;
    flex-wrap: nowrap;
    min-width: 500px;
    min-height: 200px;
    
    border: 1px solid black;
    margin: 15px;
    border: 1px solid black;
}
.Card_Name{
    font-size: 16px;
    font-weight: bold;
}


.overflow-contet {
  border: 1px solid #000;
  width: 80vw;
  overflow: auto;
  padding: 16px 0px;
  box-sizing: border-box;
}

.flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

  .card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    min-width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    margin: 5px;
  }